<nav class="navbar navbar-inverse" style="background:linear-gradient(to right,#fff 27%,#027244)!important">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-demo">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-demo">
    <a class="navbar-brand" href="/">
      <a href="/"> <span class="logo"><img src="images/alcen-bold.png" width="350" height="70" alt=""></span> </a>
    </a>
    <ul class="nav navbar-nav">
      <li class="nav-item" id="nav-content"><a href="/"><b>Home</b></a></li>
      <li class="nav-item" id="nav-content"><a href="/aboutus"><b>About Us</b></a></li>
      <li class="nav-item" id="nav-content"><a href="/product"><b>Products</b></a></li>
      <li class="nav-item" id="nav-content"><a href="/project"><b>Project</b></a></li>
      <li class="nav-item" id="nav-content"><a href="/career"><b>Career</b></a></li>
      <li class="nav-item" id="nav-content"><a href="/Achievements"><b>Achievements</b></a></li>
      <li class="nav-item" id="nav-content"><a href="#bottom"><b>Contact us</b></a></li>
    </ul>
  </div>
</nav>
