body{

  background-image: url(https://cratewholesale.com/wp-content/uploads/2012/05/light-green-background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;


}
  #footer-text{
    font-size:20px;
  }

  .navbar{
    border: none;
    border-radius: none;
  }

  .navbar-inverse {
    background: #2c3e50;
    color: white;
  }

  .navbar-inverse .navbar-brand,
  .navbar-inverse a {
    color: black;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: #fff;
  }

    .page-footer {
    background-color: #2c3e50;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
  }

.navbar-nav {
    float: right;
    margin: 0;
}

@media only screen and (max-width:768px){
  .navbar-nav {
      margin: 0;
      float: left;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #2c2e50;
    }
}

  #highlights {
    font-size: 20px;
    padding-top: 10px;
  }

  .thumbnail:hover {

    transform: scale(1.1);

  }
  .nav > li > a{
    font-size: 22px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  #nav-content{
    padding-top: 20px;

  }
  .navbar-nav > li > a:hover {

    color: #008e00!important;
    background-color: #d6e3c5!important;

}
